<div class="row" class="border">
	<div class="col-sm-3 col-md-3"></div>
	<div class="col-sm-6 col-md-6 border">
			<h4 >Leave your question</h4>
			<form action="/messages/index" method="post" class="form-horizontal form-group" >
					<label for="author">Customer</label>
					<input name="message[author]" placeholder="name" id="author" class="form-control"></textarea>

					<label for="content">Question</label>
					<textarea name="message[content]" placeholder="Content" id="content" class="form-control"></textarea>

					<label for="Email">Email address</label>
					<input name="message[email]" placeholder="Email to send email" class="form-control" id="Email">

					<div class="hide">
						<h5>Comment</h5><label for="comment">Answer</label>
						<textarea name="message[comment]" placeholder="answer" class="form-control" id="comment"></textarea> 
					</div>

					<div class="submit">
						<input type="submit" value="submit"  ><br>
					</div>
		</form>

	</div>
</div><br>
<!------------------------------------------  -->
<div class="row" class="border">
	<div class="col-sm-3 col-md-3"></div>
	<div class="col-sm-6 col-md-6 border">

		<% messageObjects.forEach(function (object, i) { %>
		<p> <strong>Customer:</strong>  <%= 	object.author %>,  <strong> e=Email:</strong> <%= 	object.email %></p>
		<p> <strong> Question: </strong> <%= 	object.content %></p>
		<p> <strong> Answer  :</strong> <%= 	object.comment %></p>
		<br>

		<form action="/messages/<%= object._id %>?_method=PATCH" method="post" 
					class="submit" class="form-horizontal form-group">
			<label>Add or Edit Answer ::</label> 
			<!-- <textarea name="message[author]" class="hide"><%= object.author  %></textarea>
			<textarea name="message[content]" class="hide"><%= object.content %></textarea> -->
			<!--<textarea name="message[comment]" id="a<%= i %>"><%= object.comment %></textarea> -->
			<p id="a<%= i %>" class="hide"><%= object.comment %></p>
			<textarea name="message[email]" id="e<%= i %>" class="hide"><%= object.email %></textarea>

				<input type="submit" value="submit"  >

		</form><button iter=<%= i%>>Send Email with comment</button>

		<form action="/messages/<%= object._id %>?_method=DELETE" method="post">
			<input type="submit" value="Delete">
		</form>
<% }) %>


	</div>
</div>



